<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to('Home', root_path) %>
      <%= link_to('All Questions', questions_path) %>
      <%= link_to('New Question', new_question_path) %>
      <%= link_to('Contact Us', contacts_new_path) %>
    </nav>
    <%= flash[:notice] || flash[:alert]%>
    <%= yield %>
  </body>
</html>