<main class="container">
<p>&nbsp;</p>
<h5><%= @product.title %></h5>
<p><%= @product.description %></p>
<p>$<%= number_with_precision(@product.price, :precision => 2) %></p>
<small>Added by <%= @product.user.full_name %> <%= time_ago_in_words(@product.created_at) %> ago • Updated <%= time_ago_in_words(@product.updated_at) %> ago</small><br>
<br>
<% if can? :crud, @product %>
    <%= link_to("Edit", edit_product_path(@product.id), :class => "btn btn-outline-primary") %>
    <%= link_to("Delete", product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-primary") %>
<% end %>

<br><br>
<section>
    <h5>Leave a Review</h5>

    <%= form_with(model: [@product, @new_review], local: true) do |f| %>
        <% if @new_review.errors.present? %>
        <p class="form-errors">
            <%= @new_review.errors.full_messages.join(", ") %>
        </p>
        <% end %>

        <div class="form-group">
            <%= f.text_area(
                :body,
                cols: 50,
                rows: 3,
                placeholder: "Did you like the product?",
                class: "form-control"
                ) %>
        </div>
        <div class="form-group">
            <%= f.label :rating, "How many stars would you give this product?"%>
            <%= f.select :rating, ['1', '2', '3', '4', '5'], class: "form-control" %>
        </div>

        <%= f.submit 'Review', :class => "btn btn-outline-primary" %>

    <% end %>

    <hr>
    <% count = 0 %>
    <% for r in 0...@reviews.count %>
        <% if @reviews[r].body != ""  %>
            <% if @product.user == current_user || @reviews[r].is_hidden == false %>
                <% count += 1 %>
            <% end %>
        <% end %>
    <% end %>

    <table>
    <% one = 0 %>
    <% two = 0 %>
    <% three = 0 %>
    <% four = 0 %>
    <% five = 0 %>
    <% for i in 0...@reviews.count %>
        <% if @reviews[i].rating == 1 %>
            <% one += 1 %>
        <% elsif @reviews[i].rating == 2 %>
            <% two += 1 %>
        <% elsif @reviews[i].rating == 3 %>
            <% three += 1 %>
        <% elsif @reviews[i].rating == 4 %>
            <% four += 1 %>
        <% elsif @reviews[i].rating == 5 %>
            <% five += 1 %>
        <% end %>
    <% end %>

<h5>Ratings (<%= @reviews.length %>)</h5>

    <tr><td>⭐</td><td><%= one %></td></tr>
    <tr><td>⭐⭐</td><td><%= two%></td></tr>
    <tr><td>⭐⭐⭐</td><td><%= three %></td></tr>
    <tr><td>⭐⭐⭐⭐</td><td><%= four %></td></tr>
    <tr><td>⭐⭐⭐⭐⭐</td><td><%= five %></td></tr>
    
    </table>

    <p>&nbsp;</p>

<h5>Reviews (<%= count %>)</h5>

    <ul class="review-list">
        <% @reviews.each do |review| %>

        <% if review.is_hidden == false || current_user == @product.user %>
        <li>
            <%= review.body %> <br>

            Rating: <% review.rating.times { %> ⭐ <% }%>
            <br>
            <% if can? :crud, review %>
            <small>
                <%= link_to(
                    "Edit",
                    edit_product_review_path(@product, review)
                ) %>
            </small>
            <% if review.is_hidden == false  && current_user == @product.user %>
            <small>
                <%= link_to(
                    "Hide",
                    toggle_hidden_path(review),
                    method: :patch
                ) %>
            </small>
            <% elsif review.is_hidden == true %>
            <small>
                <%= link_to(
                    "Unhide",
                    toggle_hidden_path(review),
                    method: :patch
                ) %>
            </small>
            <% end %>

            <small>
                <%= link_to(
                    "Delete",
                    product_review_path(@product, review),
                    method: :delete,
                    data: {
                        confirm: "Are you sure?"
                    }
                ) %>
            </small>
            <% end %>
            <small>
                Reviewed by <%= review.user.full_name %> <%= time_ago_in_words(review.created_at) %> ago
            </small>
            
        </li>
        <% end %>

        <% end %>

       
    </ul>
</section>

</main>