<h1><%= @user.full_name.titleize %></h1>

<div>
    <%= image_tag(@user.avatar, class: "img-thumbnail") if @user.avatar.attached? %>
</div>

<%= link_to "Gift User", new_user_gift_path(@user) %>

<div style="width: 800px">
    <div id="map" style="width: 800px; height: 400px"></div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: { id: 'map'}}, function() {
        markers = handler.addMarkers([
            {
                "lat": <%= @user.latitude %>,
                "lng": <%= @user.longitude %>,
                "infowindow": "<%= @user.full_name %>'s location"
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
    });
</script>
