<%- include('./partials/header') %>

<h4>Edit Note</h4>

    <form method="POST" action="<%= note.id %>">
        
            <div>
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="id" value="<%= note.id %>">
                <textarea name="edit" id ="edit" cols=100 rows=1 required><%= note.content %></textarea><br>
            </div>

        <input type="submit" value="Update">
        
    </form>

<%- include('./partials/footer') %>